.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 30px;
  flex-shrink: 0;
  background: linear-gradient(90deg, #19150A 0%, #141109 50.01%, #4A3C17 100%);
}

.logo {
  font-family: "Playfair Display", serif !important;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  background: linear-gradient(90deg, #D9B129 0%, #E1C669 50%, #D4B039 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 2rem;
}

.nav {
  display: flex;
  gap: 10px;
  margin-right: 4rem;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  border-radius: 15.5px;
  transition: background-color 0.3s, color 0.3s;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  white-space: nowrap;
  font-family: Montserrat, sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
}

.nav-link:hover, .nav-link.active {
  background: #483E1F;
  color: #F3E5AB;
}

.welcome-text {
  color: #F3E5AB !important;
  font-family: Montserrat, sans-serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  margin: 0 15px !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) !important;
  display: flex !important;
  align-items: center !important;
  white-space: nowrap !important;
}

.logout-btn {
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: Montserrat, sans-serif !important;
  font-size: 14px;
  font-weight: 700;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background: #cc0000;
}
