.featured-hotels-section {
  padding: 50px;
  text-align: center;
  background-color: white;
  color: black;
}

.featured-hotels-section h2:first-of-type {
  font-family: "Playfair Display", serif !important;
  font-size: 36px;
  margin-bottom: 30px;
  background: linear-gradient(90deg, #F9CC37 0%, #4D400D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featured-hotels-section h2 {
  font-family: "Playfair Display", serif !important;
  font-size: 36px;
  margin-bottom: 20px;
  color: #1a1a1a;
  position: relative;
  display: inline-block;
}

.featured-hotels-section h2:not(:first-of-type)::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 70px;
  height: 3px;
  background: linear-gradient(90deg, #FFCA1A 13.45%, #B3941E 52.7%, #907904 90.08%);
  border-radius: 2px;
}

.filter-buttons {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filter-btn {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 8px 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.filter-btn.active {
  background: linear-gradient(90deg, #FFCA1A 13.45%, #B3941E 52.7%, #907904 90.08%);
  border: none;
}

.hotel-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
  margin: 0 auto;
  gap: 80px;
  transform: translateX(-6%);
}

.hotel-card {
  width: 280px;
  height: auto;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #1a1a1a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.hotel-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.hotel-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hotel-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  transform: translateY(-10%) ;
}

.hotel-info h3 {
  color: #FFF;
  font-family: "Playfair Display", serif !important;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0;
}

.hotel-info p {
  color: #ccc;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.price {
  color: #FFCA1A;
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0;
}

.details-button {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  padding: 0;
  background: linear-gradient(90deg, #FFCA1A 13.45%, #B3941E 52.7%, #907904 90.08%);
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.details-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  filter: brightness(0.95);
}

.per-night{
  margin-bottom: 5rem;
}
