.why-choose-us-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffffff;
}

.section-title {
  color: #000;
  font-family: "Playfair Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;
  margin-bottom: 50px;
  text-align: center;
}

.features-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.feature-card {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  width: 320px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.feature-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, #F9CC37 0%, #4D400D 100%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.icon-wrapper {
  margin-bottom: 20px;
}

.feature-icon {
  width: 100px;
  height: 85px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}

.feature-card h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.feature-card p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2em;
  }

  .feature-card {
    width: 100%;
    max-width: 350px;
  }
}
